#img1
{

    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img2
{   
    filter: blur(10px);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img3
{
    filter:brightness(2);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img4
{
    filter: contrast(150%);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img5
{
    filter: drop-shadow(10px 10px 10px gray);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img6
{
    filter: grayscale(100%);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img7
{
    filter: hue-rotate(0.5turn);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img8
{
    filter: invert(100%);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img9
{
    filter: opacity(100%);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img10
{
    filter: saturate(50%);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
#img11
{
    filter: sepia(100%);
    margin-top: -90px;
    margin-left: 200px;
    transform: rotate(-90deg);
    height: 600px;
    width: 400px;
}
